<div *ngIf="loading" class="alert alert-info text-center">
  <h4 class="alert-heading">Cargando...</h4>
  <p class="mb-0">
    <i class="fa fa-sync fa-spin fa-2x"></i>
  </p>
</div>

<div *ngIf="error" class="alert alert-danger">
  <h4 class="alert-heading">Error</h4>
  <pre class="mb-0">{{error|json}}</pre>
</div>

<div *ngIf="!loading" class="card-columns">
  <div class="card" *ngFor="let user of users">
    <img class="card-img-top" [src]="user.avatar" [alt]="user.first_name">
    <div class="card-body">
      <h5 class="card-title">{{user.first_name|titlecase}} {{user.last_name | titlecase}}</h5>
      <p class="card-text">
        <small class="text-muted">{{user.email}}</small>
      </p>
      <p class="card-text">
        <small class="text-muted">ID: {{user.id}}</small>
      </p>
    </div>
  </div>
</div>